.page-header {
    margin-top: 20px;
}

.chart-container {
    width: 100%;
    height: auto;
}

a:not([href]):not([tabindex]).navbar-brand {
    color: #FFF;
}

#alerts {
    margin-top: 20px;
}

body {
    padding-bottom: 20px;
}

.door-actions {
    text-align: right;
}

.door-actions a.btn, .door-actions a.btn:hover, .door-actions a.btn:focus {
    color: #FFF;
}
