body {
    background: #F7F7F7;
}

h1 {
    text-align: center;
}

.login {
    margin-top: 40px;
    padding: 15px;
    border-radius: 4px;
    background: #FFF;
}

a:not([href]):not([tabindex]).navbar-brand {
    color: #FFF;
}

.navbar {
    margin-bottom: 90px;
}
