<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Panel Domotique - Accueil</title>

        <link rel="stylesheet" href="/vendors/bootstrap.css"/>
        <link rel="stylesheet" href="/home.css"/>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
            <a class="navbar-brand">Panel Domotique</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/auth/logout">Déconnexion</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div id="alerts">
            </div>

            <form class="form-inline" id="desired-temperature-form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Température voulue</span>
                        </div>
                        <input type="number" class="form-control right" id="desired-temperature" name="desired-temperature"/>
                        <div class="input-group-append">
                            <span class="input-group-text">°C</span>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-md-6">
                    <div class="temperature">
                        <h3 class="page-header">Température</h3>
                        <canvas id="temperature-chart"></canvas>
                    </div>
                </div>

                <div class="col-md-6">
                    <h3 class="page-header">Consommation électrique</h3>
                    <canvas id="power-consumption-chart"></canvas>
                </div>

                <div class="col-md-6">
                    <h3 class="page-header">Monoxyde de carbone</h3>
                    <canvas id="carbon-monoxide-chart"></canvas>
                </div>

                <div class="col-md-6">
                    <h3 class="page-header">Luminosité</h3>
                    <canvas id="luminosity-chart"></canvas>
                </div>
            </div>
        </div>

        <script src="/vendors/polyfills.js"></script>
        <script src="/vendors/chart.js"></script>
        <script src="/vendors/moment.js"></script>
        <script src="/vendors/jquery.js"></script>
        <script src="/vendors/bootstrap.js"></script>
        <script src="/home.js"></script>
    </body>
</html>
