<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Panel Domotique - Accueil</title>

        <link rel="stylesheet" href="/vendors/bootstrap.css"/>
        <link rel="stylesheet" href="/home.css"/>
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
            <a class="navbar-brand">Panel Domotique</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/auth/logout">Déconnexion</a>
                  </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <h1 class="page-header">Données</h1>

            <div class="chart-container">
                <canvas id="chart"></canvas>
            </div>
        </div>

        <script src="/vendors/polyfills.js"></script>
        <script src="/vendors/chart.js"></script>
        <script src="/vendors/moment.js"></script>
        <script src="/vendors/jquery.js"></script>
        <script src="/vendors/bootstrap.js"></script>
        <script src="/home.js"></script>
    </body>
</html>
